#special-font {
    color: white;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

@media (max-width: 1400px) {
    .girl-fly {
        transform: rotate(-10deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;

    }
}

@media (max-width: 1200px) {
    .girl-fly {
        transform: rotate(-20deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;

    }
}

@media (max-width: 1000px) {
    .girl-fly {
        transform: rotate(-30deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;

    }
}

@media (max-width: 800px) {
    .girl-fly {
        transform: rotate(-40deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;

    }

    #meteorbg {
        display: none;
    }
}

@media (max-width: 600px) {
    .girl-fly {
        transform: rotate(-50deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;

    }
}

@media (max-width: 400px) {
    .girl-fly {
        transform: rotate(-60deg) translate(-50%, -50%);
        position: absolute;
        left: 65%;
        top: 50%;
    }
    .column-heading{
        font-size: 16px;
    }
}


.hover-effect1 ul li {
    display: inline-block;
}

.hover-effect1 ul li a {
    display: inline-block;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.hover-effect1 ul li:hover a {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.heading1 {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 15px;
    color: #F1F3F5;
}

.para1 {
    font-family: 'Sarabun';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 15px;
    text-align: left;
    color: #F1F3F5;
}

body {
    overflow-x: hidden;
}

.hand-bg {
    background-image: url('./Assets/bg-hand.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    width: auto;
    height: 1080px;
    box-shadow: inset 0px 24px 20px 4px#000000;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.info-text {
    max-width: 900px;
    padding-bottom: 250px;
}

.info-text .in {
    margin: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.info-text .special {
    margin: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

a {
    text-decoration: none;
}

.sub-button {
    background: #D9D9D9;
    border-radius: 10px;
    width: fit-content;
    color: #000000;
    padding-inline: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 50px;
}

form .sub-button {
    font-size: 16px;
    margin: 10px;
}

.subscribe-bar {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20vw;
    align-items: center;
    flex-wrap: wrap;
}

.join-us-line {
    max-width: 600px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin: 50px;

}

.sub-line {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin: 10px;
}

.sub-form {
    display: flex;
    flex-direction: column;
    text-align: left;

}

.inovoid-footer {
    display: flex;
    background: #D9D9D9;
    color: black;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}

.coloumn-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.coloumn-1 .column-content {
    display: flex;
    flex-direction: column;
    gap:20px;
    
    font-family: 'Lato';
    
}

.inovoid-footer .column-heading {
    font-style: normal;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
    margin-top:50px;
    margin-bottom:50px;
}

.column-2 {
    text-align: left;
    
    
}

.copyright{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    /* margin-top: 200px; */
}
.column-0{
    display: flex;
    height:100%;
    justify-content: space-between;
    flex-direction: column;
    gap:220px;
}

.column-content a {
    text-decoration: none;
}
